!!! Strict
%html{ "xml:lang" => "en", :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %meta{ :content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type" }
    %title
      DAEDBOX: Test Forum
    %meta{ :content => "no", "http-equiv" => "imagetoolbar" }
    %link{ :href => "/css/a", :rel => "stylesheet", :media => "screen", :type => "text/css" }
  %body
    #menu
      %h1
        %a{ :href => "/" }
          %b
            DAED
          BOX
      %div
        %ul
          %li
            %a{ :href => "/" }
              MAIN
          %li
            %a{ :href => "/projects" }
              PROJECTS
          %li
            %a{ :href => "/blog" }
              BLOG
          %li.cur
            %a{ :href => "/forum" }
              FORUM
        %ul
          %li.cur
            %a{ :href => "/forum" }
              Test Forum
          %li
            %a{ :href => "/" }
              Test Forum
          %li
            %a{ :href => "/" }
              Test Forum
          %li
            %a{ :href => "/" }
              Test Forum
    #userbox
      .box.large.right
        %h2
          %b User Box
        %ul
          %li
            %a{:href => "/user/profile"} 
              Profile
          %li
            %a{:href => "/user/messages"} 
              Messages
          %li
            %a{:href => "/user/logout"} 
              Logout

    #mainbox
      #content.box.sml
        %h2
          %b Test Forum        
        %div
          %h3 Test Topic
          %span Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad     minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          %h3 Test Topic
          %span Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad     minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          %h3 Test Topic
          %span Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad     minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          %h3 Test Topic
          %span Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad     minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          %h3 Test Topic
          %span Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad     minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    #bg
      %div
        %table{ :cellspacing => "0", :cellpadding => "0" }
          %tr
            %td
