!!! Strict
%html{ "xml:lang" => "en", :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %title
      Daedulum Novae
    %meta{ :content => "no", "http-equiv" => "imagetoolbar" }
    %link{ :href => "/css/theme", :rel => "stylesheet", :media => "screen", :type => "text/css" }
    %link{ :href => "/css/boxy", :rel => "stylesheet", :media => "screen", :type => "text/css" }
    %script{ :src => "http://jqueryjs.googlecode.com/files/jquery-1.3.2.min.js", :type =>"text/javascript"}
    %script{ :src => "/js/jquery.boxy.js", :type =>"text/javascript"}
    %script{ :src => "/js/daedbox.js", :type =>"text/javascript"}    
  %body
    %div{ :style => "height:100%;margin-left:3%;background-image: url(/i/downarrow.png);background-repeat:repeat-y;"}
    = haml :mainmenu

    #userbox
      .box.large.left
        %h2
          %b= @date
    #mainbox
      = haml :status_list 


