#mainmenu
  %h1
    %a{ :href => "/" }
      %b
        DAEDULUM
      NOVAE
  %div
    %ul
      %li
        %a{ :href => "/", :onclick => "loadPage('main');", :style => "color:white;" }
          MAIN
      %li
        %a{ :href => "#", :onclick => "loadPage('forum');" , :style => "color:white;"}
          FORUM
      %li
        %a{ :href => "#", :onclick => "loadPage('livefeed');" , :style => "color:white;"}
          FEED
