#menu
  %h1
    %a{ :href => "/" }
      %b
        DAED
      BOX
  %div
    %ul
      %li
        %a{ :href => "/" }
          MAIN
      %li
        %a{ :href => "/projects" }
          PROJECTS
      %li
        %a{ :href => "/blog" }
          BLOG
      %li
        %a{ :href => "/forum" }
          FORUM
