#mainmenu
  %h1
    %a{ :href => "/" }
      %b
        NOVA
      DAEDULIA
  %div
    %ul
      %li
        %a{ :href => "#", :onclick => "loadPage('main');" }
          MAIN
      %li
        %a{ :href => "#", :onclick => "loadPage('forum');" }
          FORUM
