%input.password.oldpass{:type => "password", :name => "oldpass", :value => "Oldpass"}
%br
%input.password.pass{:type => "password", :name => "pass", :value => "NewPass"}
%br
%input.password.pass2{:type => "password", :name => "pass2", :value => "NewPass"}
%br
%input.button.password.submit{:type => "submit", :name => "submit", :value => "Change >>"}
