%input.npst.pid{:type => "hidden", :name => "pid", :value => @post.id}
%input.npst.title{:type => "text", :name => "title", :value => "Re: " + @post.title}
%br
%textarea.npst.body{:cols => 40, :rows => 10, :name => "body"} 
%br
%input.button.npst.submit{:type => "submit", :name => "submit", :value => "Update"}
%input.button.npst.cancel{ :type => "button", :name => "submit", :value => "Cancel", :onclick => "$('form').slideUp(500);$('a.npst').show();$('a.login').show();$('a.register').show();$('input.npst.pid').remove();$('p.links').fadeIn(100);"}
