%input.addweapon.wname{:type => "text", :name => "name", :value => "Weapon Name"}
%br
%input.addweapon.waction{:type => "text", :name => "action", :value => "Weapon Action"}
%br
%input.button.addweapon.submit{:type => "submit", :name => "submit", :value => "Add"}
