%input.npst.title{:type => "text", :name => "title", :value => "Topic Name"}
%br
%textarea.npst.body{:cols => 40, :rows => 10, :name => "body"}
%br
%input.button.npst.submit{:type => "submit", :name => "submit", :value => "Post >>"}
