#content.box{ :style => "top:8%"}
  %h3{ :style => "font-size:20px"}= "Profile: "+ @user.name
  #stuff
    %p
      - unless @user.last_active.strftime("%D") == DateTime.now.strftime("%D")
        = "Was last seen on the " + @user.last_active.strftime("%D") + " at " + @user.last_active.strftime("%H:%M") + "."
      - else 
        = "Was last seen Today at " + @user.last_active.strftime("%H:%M") + "."
    %p
      = "Registered on the " + @user.created_at.strftime("%D") + " at " + @user.created_at.strftime("%H:%M") + "."
  #end
    %p.end{:style => "text-align:right;padding-right:40px;margin-bottom:5px;"}
      %a.index{ :href =>"#", :onclick => "return loadIndex();"}
        Return to Forum Index
        
