#userbox
  .box.medium.right
    %ul
      - if authorized? and @user != nil 
        %li= "<b>Hello, #{@user.name}</b>"
        %br 
        %li
          %a{:href => "/user/profile"} 
            Profile
        %li
          %a{:href => "/user/messages"} 
            Messages
        %li
          %a.npst{:href => "#"}
            Post New Topic
        %form.npst{:method => "POST", :name => "form_post", :action => "/forum/post" }
          %input{ :type => "hidden", :name => "uid", :value => @user.id}
          %input{:type => "text", :name => "title", :value => "Topic Name"}
          %br
          %textarea{:cols => 40, :rows => 10, :name => "body"}
          %br
          %input.button.npst{:type => "submit", :name => "submit", :value => "Post"}
        %li
          %a{:href => "/user/logout"} 
            Logout
      - else
        %li
          %a.login{:href => "#"}
            Login
        %form.login{:method => "POST", :action => "/user/login" }
          %input{ :type => "text", :name => "user", :value => "Username"}
          %br
          %input{ :type => "password", :name => "pass", :value => "Password"}
          %br
          %input.button.login{ :type => "submit", :name => "submit", :value => "Login"}
        %li
          %a.register{:href => "#"}
            Register
        %form.register{:method => "POST", :id => "form_register", :action => "/user/register" }
          %span.username
          %input.register.user{ :type => "text", :name => "user", :value => "Username"}
          %br
          %span.dispname
          %input.register.disp{ :type => "text", :name => "disp", :value => "Display Name"}
          %br
          %span.email
          %input.register.email{ :type => "email", :name => "email", :value => "Email Address"}
          %br
          %span.pass
          %input.register.pass{ :type => "password", :name => "pass", :value => "Password"}
          %br
          %span.pass2
          %input.register.pass2{ :type => "password", :name => "pass2", :value => "Password"}
          %br
          %input.register.submit{ :type => "submit", :name => "submit", :value => "Register"}
          
