:javascript 
  $(document).ready(function() {
    $('span').hide();
    $('form').hide();  
    $('span.pbody').show();           
  });
  
    function flash(span, msg) {
      $("span." + span).css("color","red");
      $("span." + span).text(msg).show().fadeOut(2000);
    };
           
    function showForm(form) {
      $('a.login').hide();
      $('a.register').hide();
      $('a.npst').hide();
      $('form.'+form).slideDown('500');
    };

    function validate_registeration() {
      if ($("input.register.user").val() == "Username") {
        flash("username", "!");
        fail = true;
      };
      if ($("input.register.disp").val() == "Display Name") {
        flash("dispname", "!");
        fail = true;
      };
      if ($("input.register.email").val() == "Email Address") {
        flash("email", "!");
        fail = true;
      };
      if ($("input.register.pass").val() == "Password") {
        flash("pass", "!");
        fail = true;
      };
      if ($("input.register.pass2").val() != $("input.register.pass").val()) {
        flash("pass2", "!=");
        fail = true;
      };
      if (fail == true) {return false;};      
    };
    
    function loadIndex() {
     $('#mainbox').hide();
     $('#mainbox').load('/api/topic/list/haml',null,function() {
     $('#mainbox').fadeIn(2000);
     });
    };
    
    function loadTopic(id) {
     $('#mainbox').hide();
     $('#mainbox').load('/api/post/list/haml/'+id,null,function() {
     $('#mainbox').fadeIn(2000);
     });
    };
    
    function loadProfile(id) {
     $('#mainbox').hide();
     $('#mainbox').load('/api/user/profile/haml/'+id,null,function() {
     $('#mainbox').fadeIn(2000);
     });    
    };
    
    function loadUserBox() {
     $('#userbox').hide();
     $('#userbox').load('/api/userbox',null,function() {
     $('span').hide();
     $('form').hide();  
     $('span.pbody').show();
     $('#userbox').fadeIn(2000);  
     });
    };
    
    function loadPage(pagename) {
     if (pagename == "forum") {
      loadUserBox();
      loadIndex();
      return true;
     }  
    };
    
    function cancel() {
     $('form').slideUp(500);
     $('a.npst').show();
     $('a.login').show();
     $('a.register').show();
     $('input.npst.pid').remove();
     $('input.npst.pid').remove();     
     $('p.links').fadeIn(100);
    };
    
    function login() {
     var auth = $('form.login').serialize();
     $.post("/user/login",auth,function(data){
     loadUserBox();
     }); 
    };
    
    function logout() {
     var auth
     $.post("/user/logout",auth,function(data){
     loadUserBox();
     }); 
    };
    
    function deletePost(id) {      
      if(confirm("Delete this post?")) {
        $("#reply-" + id).load("/api/post/delete/"+id);
      }    
    };
    
    function updatePost(id) {
    $('form.npst').load("/api/post/update/form/" + id,null,function() {
      $('p.links').hide();
      $('a.npst').click();
      });
    };

    function replyTopic(id){
      $('form.npst').load("/api/post/reply/form/" + id ,null,function() {
      $('p.links').hide();
      $('a.npst').click();
      });

    };
    
    function quotePost(id) {
      $('form.npst').load("/api/post/quote/form/" + id,null,function() {
      $('p.links').hide();
      $('a.npst').click();
      });
    };
