%input{ :type => "text", :name => "user", :value => "Username"}
%br
%input{ :type => "password", :name => "pass", :value => "Password"}
%br
%input.button.login.submit{ :type => "submit", :name => "submit", :value => "Login >>"}
